body{
    background: linear-gradient(white, #800080);
}

button{
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background: #800080;
    border-color: transparent;
    margin-top: 200px;
    margin-bottom: 200px;
}

footer{
    margin-top: 35px;
}

img{
    width: 50px;
}