body {
    background: linear-gradient(white 20%, #800080);
}

button {
    width: 250px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    color: white;
    background: #800080;
    border-color: transparent;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 30px
}

button:hover {
    border-color: yellowgreen;
    background: white;
    color: black;
    font-weight: bold;
}

.primeirobotao {
    margin-left: 380px;
}

span {
    margin-left: 430px;
    font-size: 20px;
}

.nomeCliente {
    font-weight: bold;
}

footer {
    margin-top: 279px;
    margin-left: 620px;
}

.logogit {
    width: 50px;
    margin-left: 40px;
}

.logoreprograma {
    width: 120px;
    height: 25px;
}